# ASP.NET Core
bin/
obj/
*.db
appsettings.Development.json
appsettings.Local.json
artifacts/
*.log
**/logs/
.env

# Visual Studio
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Build results
Debug/
Release/
x64/
x86/

# JetBrains Rider
*.sln.iml
.idea/
*.iml

# React/Node.js
/frontend/node_modules/
frontend/build/

# NPM Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# General IDE and editor files
*.swp
*.bak
*.tmp
~$*

# Coverage reports
coverage/

# macOS
.DS_Store

# Logs and system files
*.log
*.pid
*.seed
*.pid.lock

# Database
*.mdf
*.ldf
*.ndf
*.sqlite
*.sqlite3

# Azure
ecf/
rcf/
